*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #d1d1d1;
}
header{
    text-transform: capitalize;
    background-color: #004990;
    text-align: center;
}
header ul li a{
    text-decoration: none;
    color: #fdd19a;
    font-size: 20px;
    transition: color 0.4s;   
}
header ul li{
    display: inline-block;
    padding: 1rem;
}
header ul li a:hover{
    color: #f1f1f1;
}
#title,#desc,#new, #hots{
    text-align: center;
    margin: 1rem 0;
    text-transform: capitalize;
}
#novidades, #avaliacoes{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    flex-wrap: wrap;
}
.cards{
    max-width: 80%;
    margin: auto;
}
.foto{
    border-radius: 1rem;
    width: 250px;
    height: 200px;
}
#card{
    display: flex;
    justify-content: space-around;   
    align-items: center;
    flex-wrap: wrap;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to right, #6a5acd, #9370db); /* chartreuse // (to right, #6a5acd, #9370db)*/
    width: 360px;
    height: 450px;
    gap: 20px;
    margin: 20px;
    border-radius: 20px;
    text-transform: capitalize;
    transition: transform 0.3s;
    box-shadow: 2px 4px;
}
.cardCozinha{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: chartreuse; 
    width: 20%;
    height: 450px;
    gap: 20px;
    margin: 20px;
    border-radius: 25px;
    text-transform: capitalize;
    transition: transform 0.3s;
    border: 1px solid black;
}
#spam{
    text-decoration: line-through;
}
.card:hover{
    transform: scale(1.01);
}
.button{
    font-size: 2rem;
}
footer{
    color: white;
    background-color: #004990;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p a{
    text-decoration: none;
    color: #f1f1f1;
}
footer ul{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #fdd19a;
    transition: 0.2s;
    font-size: 1rem;
}   
footer ul li a:hover{
    color: white;
}