*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #d1d1d1;
}
header{
    text-transform: capitalize;
    background-color: #004990;
    text-align: center;
}
header ul li a{
    text-decoration: none;
    color: #fdd19a;
    font-size: 20px;
    transition: color 0.4s;   
}
header ul li{
    display: inline-block;
    padding: 1rem;
}
header ul li a:hover{
    color: #f1f1f1;
}
.formulario{
    max-width: 60%;
    margin: auto;
}
#title{
    text-align: center;
    margin: 1rem 0;
    text-transform: capitalize;
}
#dataForm{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form{
    border: 1px solid black;
    border-radius: 1rem;
}
label{
    text-transform: capitalize;
}
input{
    text-transform: capitalize;
    border-radius: 1rem;
    border: 1px solid black;
    font-size: 1rem;
    padding: 10px;
}
button{
    font-size: 1rem;
    margin: 1rem 0;
}
footer{
    color: white;
    background-color: #004990;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 1rem;
}
footer p a{
    text-decoration: none;
    color: #f1f1f1;
}